{% extends 'base.html' %}

{% block title %}Contact Page{% endblock title %}


{% block content %}

<style>


    .contact-tab{
        margin-left: 100px
    }
    
    .header {
        background-color: #1e3d56;
        color: #fff;
        text-align: center;
        padding: 5px;
        margin-bottom:80px
    }
    
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }


    #contact {
        background: #f9f9f9;
        padding: 25px;
        margin-top: 100px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    #contact h2 {
        margin-bottom: 20px;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    #contact textarea {
        height: 150px;
    }

    #contact button {
        display: block;
        width: 100%;
        padding: 10px;
        background-color: #1e3d56;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #contact button:hover {
        background-color: #0056b3;
    }


    @media (max-width: 700px){
        .contact-tab{
            margin-left: 0vw
        }
        .header{
            margin-top:2vh
        }
        .header h1{
            font-size:4vmax
        }
        .container h3{
            font-size: 6vw;
        }
        .container h4{
            font-size: 5vw
        }
        .container p{
            font-size:16px;
        }
    }
</style>

<div class="contact-tab">
    <div class="header">
        <h1>Contact us for any queries</h1>
    </div>

    <div class="container">
        <div class="containe1">
            <h3>Kutchi ITI</h3>
            <br>
            <h4>Address</h4>
            <p>Office: 3,4,5 Gupta Niwas,</p>
            <p>1st & 2nd floor, Anand Koliwada,</p>
            <p>Mumbai Pune Road, Mumbra</p>
            <p>Thane - 400612, INDIA.</p>

            <br>

            <h4>Contact Info</h4>
            <p><strong>Mobile No:</strong> (+91) 9321224466 / 9324360524</p>
            <p><strong>Telephone:</strong> (022) 25460439 / 40</p>
            <p><strong>Email:</strong> iti.abbasi@gmail.com | info@kutchi-iti.com</p>
        </div>
        
        <div id="contact">
            <h2>Send Direct Message Below</h2>
            <form action="#" method="post">
                {% csrf_token %}
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ form.instance.name }}">

                <label for="useremail" class="form-label">Email</label>
                <input type="email" class="form-control" id="useremail" name="useremail" value="{{ form.instance.useremail }}">

                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" name="message" rows="3">{{ form.instance.message }}</textarea>
                <button type="submit">Send</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}