{% extends 'base.html' %}

{% block title %}Courses{% endblock title %}


{% block content %}

    <style>
        .courseTab{
            margin-left: 120px
        }

        .header{
            color: #fff;
            text-align: center;
            padding: 5px;
        }
        
        h1{
            color:black;
            font-family: 'Allerta Stencil'
        }

        @media (max-width:700px){
            .courseTab{
                margin-left: 0vw
            }
        }
    </style>


    <div class="header">
        <b><h1>Courses</h1></b>
    </div>

    <div class="courseTab">
        <div>            
                     
            {% include 'myapp/courselist_inside_coursetab.html' %}

        </div>
    </div>

{% endblock content %}
