{% extends 'base.html' %}
{% load static %}

{% block title %}Course Details Page{% endblock title %}

{% block content %}

<style>
    .coursedetails{
        margin-left: 120px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    .container1 {
        position: relative;
        width: 60%;
        margin: auto;
        margin-top: 0px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .student-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .detail1{
        height: auto;
        width: 50%;
        padding: 10px;
        background: linear-gradient(to left, #8c03fc, #4503fc);
        color:white;
        border-radius: 30px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        margin: 5px;
        overflow: auto; /* Add overflow property */
    }
    .detail1:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
        0 25px 60px 0 rgba(0,0,0,0.19);
    }


    .detail2 {
        height: auto;
        width: 70%;
        padding: 10px;
        background-color: #b20237;
        color: white; 
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        margin: 5px;
        overflow: auto; /* Add overflow property */
    }
    .detail2:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
        0 25px 60px 0 rgba(0,0,0,0.19);
    }


    h1 {
        color:#0040ff
    }

    h2 {
        margin-bottom:30px;
        text-align: center;
        margin-top: 0;
        color: white;
        border-radius: 50px;
        font-size: 40px;
        background-color: #1e3d56;
    }

    p {
        margin: 5px 0;
    }

    .edit-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        margin-right:150px;
        margin-top: 3px;
        
        display: inline-block;
        padding: 15px 30px;
        background-color: #1e3d56;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    .edit-button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }
    
    .delete-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        margin-top: 3px;
        
        display: inline-block;
        padding: 15px 30px;
        background-color: #bf512c;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    .delete-button:hover {
        background-color: #e00b0f;
        transform: scale(1.05);
    }

    .syllabus-button{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        margin-right:270px;
        margin-top: 3px;
        
        display: inline-block;
        padding: 15px 30px;
        background-color: #1e3d56;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }
    .syllabus-button:hover{
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .kutchilogo-image{
        margin-left: 280px; 
        margin-bottom: 60px;
        margin-top: 50px
    }
    .kutchilogo-image:hover{
        transform: scale(1.08);
    }

    @media (max-width:700px){
        .coursedetails{
            margin-left: 0vw;
        }


        .container1 {
            position: relative;
            width: 95vw;
            margin: auto;
            margin-top: 0px;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        .container1 h2{
            font-size:5vw
        }
        .detail1 h3{
            font-size:4vw
        }
        .container1 p{
            font-size:3vw
        }
        .student-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    
        .detail1{
            height: auto;
            width: 90vw;
        }
        .detail2 {
            height: auto;
            width: 90vw;
        }
        .kutchilogo-image{
            margin-left: 6vw; 
            margin-bottom: 6vw;
            margin-top: 5vw
        }
        .coursedetails {
            flex-direction: column; /* Stack elements vertically */
        }

        .syllabus-button {
            position: relative; /* Reset position */
            margin: 10px auto; /* Center the button horizontally */
            display: block; /* Make it a block element */
            width: 90%; /* Adjust width as needed */
            text-align: center; /* Center text within the button */
        }
    }
</style>

<div class="coursedetails">
    {% comment %} <h1 style="text-align: center; font-size:50px">Course Details</h2> {% endcomment %}

        <div>
            <b><h1>Viewing Course Details</h1></b>
            <hr>
        </div>
        
        {% if obj.file_path %}
            <button class="syllabus-button" onclick="location.href='{% url 'syllabusdownload' obj.id %}'">Download Syllabus</button>    
        {% endif %}
            
        {% if request.user.is_superuser %}
            <button class="edit-button" onclick="location.href='{% url 'update-course' obj.id %}'">Edit</button>
            <button class="delete-button" onclick="location.href='{% url 'delete-course' obj.id %}'">Delete</button> 
        {% endif %}
   
        <div class="container1">
  
            <h2><b>{{obj.coursename}}</b></h2>
            <img src="{% static 'images/logo.png' %}" alt="Kutchi-ITI Logo" class="kutchilogo-image">

            <div class="student-details" style="display: flex; justify-content: center;">
                <div class="detail1">
                    <h3>Basic Course Info</h3>
                    <hr>
                    <p><strong>Course Name:</strong> {{obj.coursename }}</p>
                    <p><strong>Course Duration:</strong>  {{ obj.courseduration }} Months</p>
                    <p><strong>Course fees:</strong> &#8377;{{ obj.coursefees }}</p>
                </div>
            </div>
            <div class="student-details" style="display: flex; justify-content: center;">
                <div class="detail2">
                    <h3>Course Description</h3>
                    <hr>
                    <p>{{ obj.coursedetails|linebreaks|urlize }}</p>
                </div>
            </div>


            {% if obj.file_path %}
                <a href="{% url 'download-pdf' obj.id %}" download>Download PDF</a>
            {% endif %}

        </div>
    
    </div>
    

    {% comment %} <h1 style="text-align: center;">{{obj.coursename}}</h1>
    <h4 style="text-align: center;">Course Details</h4>
    
    {% if obj.coursedetails != None and obj.coursedetails != '' %}
        <p  style="text-align: center;">{{obj.coursedetails|linebreaks|urlize}}</p>
    {% else %}
        <p style="text-align: center;">Course Details not added</p>
    {% endif %}
        

    <h4 style="text-align: center;">Course total fees</h4>
    <p style="text-align: center;">{{obj.coursefees}}</p> {% endcomment %}

    <div>
        

            
    </div>
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}
