{% extends 'base.html' %}

{% block content %}

<style>
    .container{
        margin-left: 120px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .form-container {
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 400px;
        text-align: center;
    }
    
    .form-container h2 {
        margin: 0;
        color: #007bff;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"] {
        width: 70%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .form-group input[type="submit"] {
        background-color: #32a852;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .form-group input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>

<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
            {{ form.number }}
        </div>
        <div class="form-group">
            <input type="submit" value="Download">
        </div>

        {% if email_sent %}
            <p>Email has been sent.</p>
        {% endif %}
    </form>
    
</div>

{% endblock content %}