{% extends 'base.html' %}

{% block content %}

<style>
    .container{
        margin-left: 120px;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
    
    
    .form-group {
        margin-bottom: 20px;
    }
    
    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"] {
        width: 70%;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .form-group input[type="submit"] {
        background-color: #32a852;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    .form-group input[type="submit"]:hover {
        background-color: #0056b3;
    }

    .form-container{
        background-color:white;
        max-width: 1300px;
        margin: 20px auto;
        margin-left: 150px;
        padding: 20px;
        border-radius: 50px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }
    .form-container:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
        0 25px 60px 0 rgba(0,0,0,0.19);
    }

    h3{
        font-size: 2vw;
        margin:50px;
        text-align: center;
    }

    @media (max-width:700px){
        .container{
            margin-left: 0px;
        }

        .form-container{
            margin-left: 0px; 
        }

        h3{
            font-size: 3vw;
        }
    }
</style>

<div class="container">

    <h3>Enter your details below to download the syllabus!</h3>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}">Name:</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email:</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="{{ form.phone_number.id_for_label }}">Phone Number:</label>
                {{ form.number }}
            </div>
            <div class="form-group">
                <input type="submit" value="Download">
            </div>

            {% if email_sent %}
                <p>Email has been sent.</p>
            {% endif %}
        </form> 
    </div>
    
</div>

{% endblock content %}

{% block footer %}{% endblock footer %}
