{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<style>

    {% comment %} .mainbody{
        margin-left: 100px
    } {% endcomment %}

    body{
        background: #c4cbd1;
    }
    .heading{
        margin-top: 10;
        color: #007bff;
        text-align: center
    }

    .blobsmall{
        display:none;
    }

    @media (max-width:700px){
        .mainbody{
            margin-left: 0px
        }
    }

    @media(max-width:431px){
        .blobbig{
            display:none;
        }

        .blobsmall{
            display:block;
        }
    }

</style>

        {% comment %} {% include 'myapp/kutchi_logo.html' %} {% endcomment %}
   
        {% if request.user.is_authenticated and request.user.is_superuser %}
            {% comment %} {% include 'myapp/HomeCarousal.html' %} {% endcomment %}
            <div class="blobbig">
            {% include 'myapp/TestTemplates/blob.html' %}
            </div>

            <div class="blobsmall">
                {% include 'myapp/TestTemplates/blob2.html' %}
            </div>

        {% endif %}

        {% if not request.user.is_superuser and request.user.is_authenticated %}
            <div>
                <h3 class="heading">You can view your admission and course details below</h3>
                {% include 'myapp/loggedin_student_details.html' %}
            </div>
        {% endif %}
        
    </div>

    <div class="home-container">
        {% comment %} <div>
            <h2>Courses</h2>
            <a href="{% url 'addcourse' %}">Add a new Course</a>
            <hr>
            {% for course in courses %}
                <h3><a href="{% url 'coursedetails' course.id %}">{{course.coursename}}</a></h3>
            {% endfor %}
        </div> {% endcomment %}
        
        {% comment %} <div>
            <h2>Registered Students</h2>
            {% for obj in students %}
                <a href="{% url 'studentdetails' obj.id %}"><h3>{{obj.firstname}} {{obj.lastname}} -- {{obj.coursename}}</h3></a>
            {% endfor %}
        </div>  {% endcomment %}
    </div>
</div>
{% endblock content %}

{% block footer %}{% endblock footer %}