{% extends "base.html" %}

{% block content %}

<style>
    .tab{
        margin-left: 120px;
    }

    .container1 {
        max-width: 1300px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s;
    }
    .container1:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
        0 25px 60px 0 rgba(0,0,0,0.19);
    }
    
    h2{
        text-align: center;
    }

    @media (max-width:700px){
      .tab{
        margin-left: 0vw;
      }

      h2{
        font-size: 4vw;
      }

      .container1 h3{
        font-size: 6vw;
      }

      .container1 li{
        font-size: 3vw;
      }

    }
</style>

<div class="tab">
        
    <h2 style="margin-top: 50px;">RULES AND REGULATIONS</h2>

    <div class="container1">

        <div>
            <h3>Admission</h3>
            <ul>
                <li>Students have to bring ID Card and attendance chart daily.</li>
                <li>At the time of Admission, students must bring any one of the following: Xerox copies of Education & ID proof, Marksheet / leaving certificate & Aadhaar Card / Passport / Election Card.</li>
                <li>Passport size photos required:
                  <ul>
                    <li>2 photos at the time of Admission,</li>
                    <li>2 photos at the time of Exam,</li>
                    <li>1 photo for Certificate.</li>
                  </ul>
                </li>
                <li>Please maintain discipline as you are being watched by CCTV.</li>
                <li>If a student remains absent, he/she is liable to pay a fine of Rs 5/- per day.</li>
                <li>Parents can meet the Management for any inquiries/queries on Wednesday and Saturday between 11:00 am to 12:30 pm.</li>
                <li>If a student remains absent continuously for 15 days, admission will be canceled.</li>
                <li>Students will have to pay for damages if any to the institute's property or instruments are damaged by him/her.</li>
                <li>Misbehavior of students will cause cancellation of admission.</li>
                <li>Every student who is registering / taking admission in our institute will be on his/her own responsibility.</li>
                <li>No illegal or criminal activities will be performed or be a part of them. If found, strict action will be taken on him/her and admission will be canceled.</li>
                <li>It is Parent's/Student's responsibility to inform the institute of any change in Address or Contact numbers.</li>
                <li>Students have to take care of their own belongings; the institute will not be responsible for any loss.</li>
                <li>If a student is Physically/Medically unfit, Student/Parents must inform the institute at the time of admission, and parents will be responsible for any untoward incidents.</li>
                <li>If any Institute-related photos or comments are posted on Social Media, Strict Legal Action will be taken against the student.</li>
                <li>For any query/Complaint regarding students, use our Complaint Box or call admin department.</li>
                <li>Use of Any Social Media Site in the institute is prohibited.</li>
                <li>Keep the classroom clean and neat at all times.</li>
                <li>Consumption of food and sweet drinks are strictly not allowed in the institute.</li>
                <li>Read the institute notice board regularly.</li>
                <li>Use of all forms of electronic gadgets is prohibited unless they are required for course/lesson. Eg. Electronic dictionaries etc.</li>
                <li>Boys are not allowed to wear earrings/ear studs, ear sticks, or have any other forms of body piercing and should always come in Formal Dress.</li>
                <li>The institute reserves the right to confiscate any items that are prohibited, and Legal action will be taken against the student.</li>
                <li>No Vandalism. Don't write or carve on your desk or institute property.</li>
                <li>Library facility available.</li>
                <li>Treat computers with care.</li>
                <li>Smoking and the use of alcohol, gutka, pan-masala, or other drugs are strictly Prohibited. Strict action will be taken against students.</li>
                <li>Every student should show respect and use appropriate language in communicating with teachers and other students.</li>
                <li>Any gifts and personal works between students / staffs not allowed.</li>
                <li>Every student must obey and respect their heads, teachers, and staff of the institute.</li>
                <li>Student should come and leave institute on time.</li>
                <li>Do your assignments on time.</li>
                <li>Railway concession pass facility available for students living outside Mumbra.</li>
                <li>Letter to Trust/Organization for scholarship available on request.</li>
                <li>Institute is always ready to help students for Future technical support.</li>
                <li>100% job Assistance. To crack the interview is the student's responsibility.</li>
              </ul>
              
              <h3>Attendance</h3>
              <ul>
                <li>80% attendance compulsory in order to appear for final exam for board / institute.</li>
                <li>Attendance by Finger punch on Biometric machine and Attendant sheet is Compulsory.</li>
                <li>Signature of teachers on the attendant sheet is compulsory, and parents should check the attendant sheet daily.</li>
                <li>Application is compulsory for leave with Genuine reason.</li>
                <li>Institute will provide leave for a maximum of 3 months; else, admission will be canceled.</li>
              </ul>
                
              <h3>Fees</h3>
              <ul>
                <li>Mode of payment: CASH / CHEQUE / DD / CREDIT CARD / DEBIT CARD</li>
                <li>Fees should be paid before commencement of the course.</li>
                <li>After paying fees, please collect fees receipt.</li>
                <li>Exam fees Extra depends on Board and Course</li>
                <li>Govt. Service Taxes will be charged extra.</li>
                <li>Fees once paid are not refundable or transferable under any circumstances.</li>
                <li>EMI should be paid before the 10th of every month; otherwise, a late fee of Rs 100/- will be charged.</li>
                <li>If a cheque is bounced / returned, a fine of Rs 500/- will be charged.</li>
                <li>Please draw Cheque / DD in favor of: Kutchi Indian Technical Institute.</li>
              </ul>

              <h3>Course</h3>
              <ul>
                <li>Our courses are endorsed as per industries specifications.</li>
                <li>Mumbra's Pioneer Institute with 27 yrs of Quality training & Genuine Certification with reasonable fees for your Bright Future.</li>
                <li>Students have to complete their course within the given time period or else he / she will have to pay Rs 650/- to Rs. 1000/- extra per month till the course is completed.</li>
                <li>Course material is available with a reasonable price.</li>
                <li>Fast Track courses available.</li>
                <li>Special weekend batches for working people available.</li>
                <li>If the course is upgraded, the student will have to pay extra service tax and remaining fees of the upgraded course.</li>
                <li>Flexible batch is available only on the condition that a teacher or seat is available.</li>
              </ul>

              <h3>Exam</h3>
              <ul>
                <li>Fill proper exam form and pay exam fees.</li>
                <li>2 passport size photographs required.</li>
                <li>It is mandatory for students to be present 15 minutes before at the Examination center.</li>
                <li>Students must bring their examination Hall Ticket in the exam hall.</li>
                <li>Students will not be allowed to appear for the exam without Hall Ticket.</li>
                <li>Latest passport size photograph showing clearly the face should be fixed at the space provided on the exam form. A photograph with sun glasses is not acceptable.</li>
                <li>If a student remains absent in the exam, he/she will be assumed failed.</li>
                <li>For 2nd or 3rd attempt examination, exam fees plus extra Rs 300/- will be charged.</li>
                <li>Rs 300/- will be charged for exam paper/answer sheet revaluation.</li>
                <li>If a student is caught cheating in the exam, he/she will not be allowed to continue the paper and considered fail.</li>
                <li>If a student fails in the exam, he/she can sit for re-exam, 2nd and 3rd attempt, if failed in the 3rd attempt, he/she has to complete Re-Admission procedure.</li>
                <li>Results will be declared within 1 month from the exam date.</li>
                <li>Result will be notified by SMS.</li>
                <li>Vocational courses exams facilities available for Outside students.</li>
              </ul>

              <h3>Certificate</h3>
              <ul>
                <li>Students have to bring the hall ticket and 1 passport size photo at the time of collecting the certificate.</li>
                <li>Certificate and marksheet will be issued a minimum of 1 month from the date of examination.</li>
                <li>Students have to sign on the certificate.</li>
                <li>Genuineness of Certificate can be verified online by any individual / company in India/Abroad for a job.</li>
                <li>An affidavit is required for a duplicate certificate.</li>
                <li>If the certificate is not collected within one year, then a penalty of Rs 300/- will be charged per year.</li>
              </ul>
              
              <h5>Rules & Regulations Are Made By Institute.</h5>
              <h5>Please read and understood the above rules and regulations and agree to abide by it.</h5>
        </div>

    </div>

</div>

{% endblock content %}