<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    .table-container{
        margin-top:50px
    }

    .container1 {
        position: relative;
        width: 80%;
        margin: auto;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        transition: box-shadow 0.3s;
    }
    .container1:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
        0 25px 60px 0 rgba(0,0,0,0.19);
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #d9d4d4;
        color:black;
    }

    h2 {
        margin-top: 0;
        color: #1e3d56;
    }

    .custom-button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        
        display: inline-block;
        padding: 15px 30px;
        background-color: #1e3d56;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    .custom-button:hover {
        background-color: #0056b3;
        transform: scale(1.05);
    }

    .canceled {
        background-color: red; /* Change the background color to red */
        color: white; /* Change the text color to white or any color that is readable on red */
    }

    .search-bar{
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        margin-right: 400px;
        width: 500px;
        display: inline-block;
        padding: 15px 30px;
        background-color: #f5f0e1;
        color: black;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

</style>

<div class="table-container">
<div class="container1">
    <button class="custom-button" onclick="location.href='{% url 'studentsignup' %}'">Register a Student</button>

    <h2>Student Information</h2>
    <form method="GET" action="{% url 'search_students' %}">
        <input class="search-bar" type="text" name="query" placeholder="Search...">
    </form>
    <table>
        <tr>
            <th>Sr No</th>
            <th>Roll No</th>
            <th>Admission Date</th>
            <th>Student Name</th>
            <th>Course Name</th>
            <th>Completion Date</th>
            <th>Course Fees</th>
            <th>Fees Paid</th>
            <th>Balance</th>
        </tr>
        {% for student in students %}
        <tr class="clickable-row {% if student.is_admission_canceled %}canceled{% endif %}" data-href="{% url 'studentdetails' student.id %}">
            <td>{{ student.id }}</td>
            <td>{{ student.rollno }}</td>
            <td>{{ student.joiningdate }}</td>
            <td>{{ student.firstname }} {{ student.lastname }}</td>
            <td>{{ student.coursename }}</td>
            <td>{{ student.completiondate }}</td>
            <td>&#8377;{{ student.coursefees }}</td>
            <td>&#8377;{{ student.feespaid }}</td>
            <td>&#8377;{{ student.remaining_balance }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>