<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        div{
            display:flex;
            justify-content:center;
            align-items:center;
        }
    </style>
</head>
<body>
    <div>
        <iframe title="Report Section" width="1330" height="643.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjljNDgwOTctZjdhZS00NWFhLTgxMmYtZTk2MDE0M2ExNzgwIiwidCI6ImMzOTY5ZDYwLTA2YWQtNDM4Yi05Mzc0LWRjNmI4NjZjYzZlZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>

</body>
</html>